name: CI
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NUGET_PACKAGES: ${{ github.workspace }}/ftrip.io.playground/.nuget/packages
    
    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v3
        with:
          path: ${{ env.NUGET_PACKAGES }}
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: restore packages
        working-directory: ftrip.io.playground
        shell: bash
        run: |
          dotnet restore /property:Configuration=Release --use-lock-file ftrip.io.playground.sln
          
      - name: Build docker image
        working-directory: ftrip.io.playground
        shell: bash
        run: |
          docker build -t ftrip.io.playground .
