name: CI
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NUGET_PACKAGES: ${{ github.workspace }}/ftrip.io.playground/.nuget/packages
    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/ftrip.io.playground/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-
      - name: restore packages
        shell: bash
        run: |
          dotnet restore /property:Configuration=Release ftrip.io.playground/ftrip.io.playground.sln
      - name: list
        working-directory: .
        shell: bash
        run: |
          ls -R .
          
      - name: Build docker image
        working-directory: ftrip.io.playground
        shell: bash
        run: |
          docker build -t ftrip.io.playground .

      - name: list
        working-directory: ftrip.io.playground
        shell: bash
        run: |
          ls ./.nuget/packages -a
